<div class="col-md-12">
  <div ng-if="!validCommentator" class="pull-right">
    <a href="/#/login">Commentator Login</a>
  </div>
  <br />
  <div class="well text-center">
    <h1>Games</h1>
  </div>
</div>

<div class="col-md-6">
  <ul class="list-group">
    <li ng-repeat="game in games">
        {{ game.teams[0].name }} <b>vs</b> {{ game.teams[1].name }}
        <span ng-if="game.snitch.caughtOn !== undefined" class="label label-success">GAME ENDED</span>

        <div class="list-group">
          <span ng-if="validCommentator">
            <a class="{{ game.snitch.caughtOn !== undefined ? 'list-group-item list-group-item-success' : 'list-group-item list-group-item-info' }}" href="#/game/{{ game._id }}">Commentator Area</a>
          </span>
          <a class="list-group-item" href="#/game/{{ game._id }}/box-score">BOX SCORE STATS</a>
          <a class="list-group-item" href="#/game/{{ game._id }}/play-by-play">PLAY BY PLAY</a>
        </div>
    </li>
  </ul>
</div>
