{% extends 'main.html' %}
{% block title %}Login{% endblock %}

{% block body %}
  <div class="col-md-4">
    <form role="form" class="" action="" method="post">
      <label for="username">Username</label>
      <input class="form-control" type="text" name="username" value="" />
      <label for="password">Password</label>
      <input class="form-control" type="text" name="password" value="" />
      <br />
      <button type="submit" class="btn btn-primary" name="submit-button">Login</button>
    </form>
  </div>
  <div class="col-md-6">
    <h1>Open games</h1>
    <ul>
      {% for game in games %}
        <li><a href="/game/{{ game._id.toString() }}">
            {{ game.teams[0].name }} <b>vs</b> {{ game.teams[1].name }}          
        </a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
