{% extends 'main.html' %}
{% block title %}Play By Play{% endblock %}

{% block scripts %}
  <script src="/js/play-by-play-client.js" charset="utf-8"></script>
{% endblock %}

{% block body %}
  <div class="col-md-4">
    Play by play stats.
  </div>
  <div class="col-md-8">
    <table class="table table-hover table-striped" id="plays">
      <tbody>
        {% for play in playHistory %}
          <tr>
            <td>
              {{ play.time.toLocaleString() }} -
              {% if play.eventType === 'end' %}
                Snitch caught by {{ play.player.name }}. GAME HAS ENDED.
              {% elseif play.eventType === 'start' %}
                Game started
              {% elseif play.eventType === 'goal' %}
                Goal made by {{ play.player.name }}
              {% elseif play.eventType === 'miss' %}
                Goal missed by {{ play.player.name }}
              {% elseif play.eventType === 'block' %}
                Goal blocked by play.player.name
              {% elseif play.eventType === 'snitchAppears' %}
                Snitch has appeared
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
